html,*,body{font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;line-height: 1.6;color:#515559;}
.btnLlamaya{display:block;margin:0 auto;text-align:center;padding:5px 10px;font-size:1.5em;}.bgColorBtn{background-color:#fe2f69;background:#fe2f69;color:#fff;border-bottom:5px solid #cb1145;}.bgColorBtn:hover,.bgColorBtn:active,.bgColorBtn:focus{background-color:#f02961!important;background:#f02961!important;color:#fff;border-bottom:5px solid #cb1145;}.padding-30{padding:0 5%;}.p-3{padding:0.6rem!important}
/*footer*/.footerImageContnt{background-image:url("../img/common/mexico-city.svg");width:100%;height:185px;display:block;margin:0 auto;padding:0;}.imgFooter{display:block;float:left;width:150px;height:auto;}footer ul:not(.list-inline):not(.slides) > li {line-height: 2.32142857em !important;}ul.menu li a{color:#fff;text-rendering:optimizeLegibility;}a.li-title{font-weight:600;font-size:1.4em;border-bottom:none;text-decoration:none;}.socialIcons{display: inline-block;float:left;margin:0 10px;}.icon-svg{min-width:80px;display:inline-block;}
/*Colores Ahorra Seguros*/.bgAhorraSeguros1{background:#044f99;background-color:#044f99;}.bgAhorraSeguros2{background:#0065c5;background-color:#0065c5;}.bgAhorraSeguros3{background:#0a3968;background-color:#0a3968;}
/*txt*/.colorAhorraSeguros1{color:#044f99;}.colorAhorraSeguros2{color:#0065c5;}
/*Colores generales*/.bgColorBlanco{background-color:#fff;background:#fff;}.bgColorGray1{background:#E9EBEE;background-color:#E9EBEE;}
.bgColorGray2{background:#CFCFCF;background-color:#CFCFCF;}.txtColorGray1{color:#e3e3e3;}.txtColorGray2{color:#436998;}.txtColorGray3{color:#9e9e9e;}.txtColorBlanco{color:#fff;}a.txtColorBlanco:hover{color:#fff;}.h2Colortitle{color:#667695;font-weight: bolder;}.bgColorBtn{background-color:#fe2f69;background:#fe2f69;color:#fff;border-bottom:5px solid #cb1145;}.bgColorBtn:hover,.bgColorBtn:active,.bgColorBtn:focus{background-color:#f02961;background:#f02961;color:#fff;border-bottom:5px solid #cb1145;}.bgColorBtnModalGracias{background-color:#0065c5;background:#0065c5;color:#fff;border-bottom:5px solid #044f99;}.bgColorBtnModalGracias:hover,.bgColorBtn:active,.bgColorBtn:focus{background-color:#044f99;background:#044f99;color:#fff;border-bottom:5px solid #0065c5;}.sinborde{border-color:none;border:1px solid #fff;}.noBg{background:transparent;background-color:transparent;}.colorBreadcrumbs{color:#d0d9e5!important;}.starColor{color:#FFD700;}.bgColorInput{background-color:#f8f8f8;background:#f8f8f8;}.newBg{background:linear-gradient(#009644 50%, #208046 50%);}
/*ul li*/ul.ul-li, ul > li{list-style:none;}ul.ul-li li{line-height:2;}
/*matando estilos isi*/.card-body{padding:1.8rem 8%;}.cardy{padding:1.25rem;}.adjustImgIcon{width:105px;height:auto;display:block;}.line-h{line-height:4;}.img-modal{display:block;margin:0 auto;}
/**/.bgColorBtnModalmodal{background-color:#0065c5;background:#0065c5;color:#fff;border-bottom:5px solid #044f99;}.bgColorBtnModalmodal:hover,.bgColorBtn:active,.bgColorBtn:focus{background-color:#044f99;background:#044f99;color:#fff;border-bottom:5px solid #bf4a6b;}.altura{min-height:110px;}
/**/.heightFoot{padding:50px 0;}
.bgImgFondo{background-image:url(../img/common/mx_city.svg);background-position:center 80%;background-repeat:no-repeat;background-size:100%;}
.bttomcito{background-position: bottom left 137px;background-size: 30%;background-repeat: no-repeat;}
.pTop{padding-top:35px;}
.bggray{background-color: #f4f4f4;}
.padding_t{padding:15px 0 0;}
.space{margin: 0 0 22px;}
.imgstyle{width:75px;height:auto;}
.imgstyle1{width:40px;height:auto;}
.mt-b40{margin-top: -40px;}
.mb-b60{margin-bottom: -50px;}
.brradius{border-radius: 15px;}
.h25{height: 15px;}
.form-control {display: block;width: 100%;padding: .375rem .75rem;font-size: .875rem;line-height: 1.6;margin-bottom: 0px;background-color: #fff;background-clip: padding-box;border: 1px solid #c3d2e4;border-radius: .25rem;}

/*Nuevos estilos*/
.sprite-aba{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-8px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-afirme{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-87px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-aig{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-170px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-ana{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-245px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
/**/
.sprite-atlas{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position: -320px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-axa{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position: -410px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-banorte{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position: -560px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-aguila{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position: -640px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-general{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position: -720px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-sura{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-790px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-vexmas{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-885px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
/**/
.sprite-gnp{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-9px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-hdi{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-90px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-inbursa{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-166px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-latino{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-246px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-mapfre{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-325px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-multiva{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-405px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-qualitas{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-643px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-zurich{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-793px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-miituo{background-image:url(../img/logos_aseguradora_ajuste1.png);background-position:-486px -142px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-card {background-image: url(../img/logos_aseguradora_ajuste1.png);background-position: -220px -155px;width: 159px;height: 23px;display: block;background-repeat: no-repeat;}
.sprite-logo {background-image: url(../img/logos_aseguradora_ajuste1.png);background-position: -8px -166px;width: 220px;height: 37px;display: block;background-repeat: no-repeat;}
/*fonts*/
ul.slides{list-style:none;display:block;float:left;padding:0;list-style: none;margin-top: 20px;margin-bottom:10px;}
ul.slides li{float:left;margin: 0 7px;}
/**/
.sprite-card {background-image: url(../img/common/logos_aseguradora_ajuste1.png);background-position: -220px -155px;width: 159px;height: 23px;display: block;background-repeat: no-repeat;}
.sprite-logo {background-image: url(../img/common/logos_aseguradora_ajuste1.png);background-position: -8px -166px;width: 220px;height: 37px;display: block;background-repeat: no-repeat;}
.p-tam {padding: 5px;width: 25px;margin: -6px auto 0;background-color: #044f99;border-radius: 50%;}
.colorAhorra{color: #014f98;}
.sprite-logo {background-image: url(../img/common/logos_aseguradora_ajuste1.png);background-position: -8px -166px;width: 220px;height: 37px;display: block;background-repeat: no-repeat;}
.text_index {font-size: 1.9rem;font-weight: 800;}
.text-card {font-size: 12px;text-transform: uppercase;}
.title{font-size: 1.65rem;}
.size13 {font-size: 13px;color: #999;margin-bottom: 10px;}
.card{border-radius: 4px;background: #fff;box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);padding: 14px 80px 18px 36px;}
.card_ben{width: 100%;padding: 59px 49px 50px 46px;border-radius: 5px;}
.form-style {font-size: 16px;height: 48px;}
.fs14{font-size: 14px !important;}
.form-control-lg{line-height: 1.5;border-radius: .3rem;}
.multiselect{width:auto!important;}
.multiselect__select{display:none!important;}
.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 0px !important;border-radius:5px;border:none!important;background:transparent!important;font-size:14px!important;}
.card{border-radius: 4px;background: #fff;box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);padding: 14px 80px 18px 36px;}
.form-control {color: #3b3b3b !important;}
.form-control::placeholder {color: #3b3b3b !important;opacity: 1;font-size: 16px !important;}
.back1{background-image: url(../img/common/fondosection.svg);background-position: bottom;background-size: 85%;background-repeat:no-repeat;height: 110px;background-color: #f4f4f4;}
.chevron{background-image:url(../img/common/chevron-down.svg);height:auto;display:block;background-size:12px;background-position:right 0.8em center;background-repeat:no-repeat;}
.logohouse{width: 150px;}
.form-control{height: 45px;border-radius: .3rem!important;}
.form-control-lg{height: 45px!important;border-radius: .3rem!important;}
.paddingnone{padding: 0;}
.colorcard {background-image: linear-gradient(to right, #f7faff, #f7faff 35%, white 20%);background-repeat: no-repeat;}
.card_logos{padding:1px 82px 13px 20px;border: none;}
.card_thank{width: 100%;padding: 59px 49px 50px 46px;border-radius: 5px;}
.noborder{border: none;}
.p10{padding: 10px;}
.padd-5{padding: 0 5%;}
.card_nonep {padding: 0;margin-bottom: 8px;}
.mt-25{margin-top: 25px;}
.img_stars{width: 110px;}
.cYellow{color:#facd49;}
.p_cali {font-size: 24px;font-weight: 700;color: #a7a7a7;margin-bottom: 0; margin-top: 25px;}
.Cblue {color: #89acd2 !important;}
.listfilter2 {text-align: right;margin-top: -24px;list-style: none;}
.m-r-1{margin-left: -28px;}
.span_style {color: black;font-size: 14px;padding: 0;}
.custom-control{padding-left: 0;}
.custom-control-label{font-size: 13px;}
.badgetpromocall{border:none;bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#1ab362;margin:25px auto 0px!important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:70%;background-position:center center;height: 50px;}
.badgetpromocall:hover:not(.disabled){background:#02843f;bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;margin:25px auto 0px!important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:70%;background-position:center center;height: 50px;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#1ab362;margin:25px auto 0px!important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:70%;background-position:center center;height: 50px;}
.padnone{padding:10px;}
.logos{width: 130px;}
.fontlist{font-size: 13px;}
.checkbox {}
.checkbox label {display: inline-block;position: relative;padding-left: 5px; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 12px;height: 12px;left: 0;margin-left: -17px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;margin-top: 4px;}
.checkbox label::after {display: inline-block;position: absolute;width: 6px;height: 6px;left: 0;top: 0;margin-left: -21px;padding-left: 5px;padding-top: 3px;font-size: 9px;color: #555555;}
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #309bff;border-color: #309bff; }
.checkbox-primary input[type="checkbox"]:checked + label::after {color: #fff; }
input[type="number"],select{-moz-appearance:textfield!important;appearance:textfield!important;}
/**/
@media(min-width:1601px) and (max-width:4000px){.back1{background-size: 65%;}.card_height {height: 130px;margin-bottom: 5px;}.card_thank{padding:2px 20px;}.card_ben{width: 100%;padding: 36px 38px;}.card_benmapfre {width: 100%;padding: 55px 37px;}.formulari{width: 80%;margin: 0 25%;}.formulario-gastos-medicos{width: 80%;margin: 0 40%;}.text_card{font-size: 1.8rem;}.img_responsive{width:100%;}}
@media(min-width:1201px) and (max-width:1600px){.back1{background-size: 90%;}.card_height {height: 130px;margin-bottom: 5px;}.card_thank{padding:2px 20px;}.card_ben{width: 100%;padding: 36px 38px;}.card_benmapfre {width: 100%;padding: 55px 37px;}.formulari{width: 80%;margin: 0 25%;}.formulario-gastos-medicos{width: 80%;margin: 0 40%;}.text_card{font-size: 1.8rem;}.img_responsive{width:100%;}}
@media (min-width: 1024px) and (max-width: 1200px){.card_height {height: 130px;margin-bottom: 5px;}.card_ben{width: 100%;padding: 19px 25px;}.card_logos{padding: 0px 43px 2px 22px;border: none;}.card_benmapfre {width: 100%;padding: 56px 20px;}.formulari{width: 80%;margin: 0 25%;}.mt-b40{margin-top: 0px;}}
@media (min-width: 901px) and (max-width: 1023px){.fontmovile{font-size: 11px;}.card_ben{width: 100%;padding: 19px 25px;}.card_benmapfre{width: 100%;padding: 59px 20px;}.card_logos{padding: 0px 43px 2px 22px;border: none;}.formulari{width: 90%;margin: 0 15%;}.mt-b40{margin-top: 0px;}.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 80%;background:#1ab362;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 80%!important;background:#02843f;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80% !important;background-position:center center;}
.badgetpromo{font-size: 10px;padding: .8em;}}
@media  (min-width: 801px) and (max-width: 900px){.fontmovile{font-size: 11px;}.card_ben{width: 100%;padding: 19px 25px;}.card_benmapfre{width: 100%;padding: 59px 20px;}.card_logos{padding: 0px 43px 2px 22px;border: none;}.formulari{width: 90%;margin: 0 10%;}.mt-b40{margin-top:0px;}.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#1ab362;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#02843f;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}
.badgetpromo{font-size: 0.6em;padding: .8em;}}
@media (min-width: 769px) and (max-width: 800px){.fontmovile{font-size: 11px;}.card_logos{padding: 1px 56px 13px 20px;border: none;}.card_ben{width: 100%;padding: 19px 25px;}.card_benmapfre{width: 100%;padding: 59px 20px;}.formulari{width: 90%;margin: 0 10%;}.mt-b40{margin-top:0px;}.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#1ab362;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#02843f;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}
}
@media (min-width: 600px) and (max-width: 768px){.img_logo{width: 60px;}.img_logomapfre{width: 140px;}.formulari{width: 100%;margin: 0;}.movile_card{margin: -13px 0px 2px 0;height: 105px;}.movile_header{height: 70px;margin:-1px 0px -15px}.movile_img{width: 50%;}.pee{font-size: 14px;}.progress{margin: -1px 0 0 -20px;height: 16px}.movile_conten{margin: -4px 0 0px -11px;}.img_responsive{width:100%;}.p-10{padding-left: 10px !important;}.mt-b40{margin-top:0px;}.cardw{width: 100%;}.marg4{margin:0 4%;}.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#1ab362;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 90%;background:#02843f;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.card_height{height: 190px;}
}
@media (min-width: 481px) and (max-width: 599px){.img_logo{width: 60px;}.img_logomapfre{width: 140px;}.formulari{width: 100%;margin: 0;}.movile_card{margin: -13px 0px 2px 0;height: 105px;}.movile_header{height: 70px;margin:-1px 0px -15px}.movile_img{width: 50%;}.pee{font-size: 14px;}.progress{margin: -1px 0 0 -20px;height: 16px}.movile_conten{margin: -4px 0 0px -11px;}.img_responsive{width:100%;}.p-10{padding-left: 10px !important;}.mt-b40{margin-top:0px;}.cardw{width: 100%;}.marg4{margin:0 4%;}.contenedortel {min-width: 130px;height: auto;margin: 6px -20px;}.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 50%!important;background:#1ab362;margin:25px auto 0px !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 50%!important;background:#02843f;margin:25px auto 0px !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%!important;background-position:center center;}
.card_height{height: 190px;}
}
@media (min-width : 320px) and (max-width : 480px){.formulari{width: 100%;margin: 0;}.img_logomapfre{width: 140px;}.movile_card{margin: -13px 0px 2px 0;height: 105px;}.movile_header{height: 70px;margin:-1px 0px -15px}.movile_img{width: 50%;}.brand-logotype{max-width: 52px;}.icoTel{width: 20px;height: 20px;padding: 3px;margin: 0 3px 0 0;}.pee{font-size: 14px;}.img-svg{width: 12px}.progress{margin: -1px 0 0 -20px;height: 16px}.movile_conten{margin: -4px 0 0px -11px;}.p-10{padding-left:10px !important;}.mt-b40{margin-top:0px;}.cardw{width: 100%;}.marg4{margin:0 4%;}.contenedortel {
    min-width: 130px;height: auto;margin: 6px -43px;}.brand-logotype{max-width: 130px;margin:-11px -35px 0;}
.sprite-logo{background-position: 0 -97px;width: 140px;height: 37px;display: block;background-repeat: no-repeat;background-size: 600px;}
.ml-33 {margin-left: -33px;}
.card_ben {width: 100%;padding: 5px;text-align: center;margin-top: -30px;margin-bottom: -30px;height: 70px;}
.img_logo{width: 60px;}
.text_index {font-size: 1rem;}
.size13{font-size: 9px;}
.card_logos{padding: 0px 22px;}
.fontmovile{font-size: 11px;}
.img_bene{width: 80px;}
.f13bene{font-size: 13px;}
.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 60%!important;background:#1ab362;margin:25px auto 0px !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 60%!important;background:#02843f;margin:25px auto 0px !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%!important;background-position:center center;}
.logos{width: 120px;}
.mt-25{margin-top: 20px;}
.card_height{height: 190px;}
.p_cali{margin-top: 10px;}
}
@media (min-width : 280px) and (max-width : 319px){.formulari{width: 100%;margin: 0;}.movile_card{margin: -13px 0px 2px 0;height: 95px;}.movile_header{height: 55px;}.movile_img{width: 54px;}.icoTel{width: 20px;height: 20px;padding: 3px;margin: 0 3px 0 0;}.pee{font-size: 14px;}.img-svg{width: 12px}.progress{margin: -1px 0 0 -20px;height: 16px}.movile_conten{margin: -4px 0 0px -11px;}.img_responsive{width:100%;}.p-10{padding-left: 10px !important;}.mt-b40{margin-top:0px;}.cardw{width: 100%;}.marg4{margin:0 4%;}.brand-logotype{max-width: 130px;margin:-11px -35px 0;}.contenedortel{min-width: 130px;height: auto;margin: 6px -43px;}
.sprite-logo{background-position: 0 -97px;width: 140px;height: 37px;display: block;background-repeat: no-repeat;background-size: 600px;}
.ml-33 {margin-left: -33px;}
.card_ben {width: 100%;padding: 5px;text-align: center;margin-top: -30px;margin-bottom: -30px;height: 70px;}
.img_logo{width: 60px;}
.leadito {font-size: 11px !important;}
.p-tam {padding: 5px;width: 20px;margin: -5px auto 0;}
.text_index {font-size: 1rem!important;}
.size13{font-size: 9px;}
.card_logos{padding: 0px 22px;}
.fontmovile{font-size: 11px;}
.img_bene{width: 80px;}
.f13bene{font-size: 13px;}
.text-card {font-size: 8px;}
.badgetpromocall{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 70% !important;background:#1ab362;margin:25px auto 0 !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%;background-position:center center;height:40px}
.badgetpromocall:hover{bottom:0;color: #ffffff;font-size: .75em;left: 0;letter-spacing: .3px;position: relative;width: 70% !important;background:#02843f;margin:25px auto 0 !important;background-image:url(../img/common/cta-btn.svg);background-repeat:no-repeat;background-size:80%!important;background-position:center center;height:40px!important;}
.logos{width: 120px;}
.mt-25{margin-top: 20px;}
.card_height{height: 190px;}
.p_cali{margin-top: 10px;}
}