<template>
    <div>
   <section class="paddTitles fondo">
    <div class="container">
    <div class="w-100 p-3"></div>
    <div class="w-100 p-3"></div>
    <div class="container-fluid">
        <div class="row google bgColorgris" itemtype="http://data-vocabulary.org/Review-aggregate" itemscope="">
            <meta itemprop="itemreviewed" content="ahorraseguros.mx">
          
            <!-- <div class="divider"></div> -->
                        <div class="col-12 col-sm-12 col-md-4">
                             <h3 class="vargasdesignmx ttlefoot">Opiniones de Ahorra Seguros</h3>
                        <div class="col-3 col-sm-2 col-md-3 col-lg-2 pCero">
                            <a href="https://www.ahorraseguros.mx/opiniones-ahorraseguros" style="float:left;">
                            <img src="img/common/google.svg" alt="ahorra seguros" title="ahorra seguros" class="imggoogle" />
                            </a>
                        </div>
                        <div class="row">
                        <div class="col-12 pCero">
                            <p class="txtColorGray2 left starCalif average">4.5<span class="votes">/461 opiniones</span></p>
                                    <span itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
                                        <meta itemprop="average" content="5">
                                        <meta itemprop="best" content="5">
                                    </span>
                                    <meta itemprop="votes" content="461">
                        </div>
                              
                         <div class="col-12 pCero google_rating">
                             <a href="https://www.ahorraseguros.mx/opiniones-ahorraseguros" style="display:inline-block;float:left;">
                                <fieldset class="rating stars" style="display:inline-block;float:left;">
                                    <i class="fa fa-star sicolor sizeW" title="Pésimo - 1 Estrella"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Malo - 2 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Bueno - 3 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Muy Bueno - 4.5 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Excelente - 5 Estrellas"></i>
                                </fieldset>
                            </a>    
                        </div>
                        </div>
                        </div>

                             
                    <div class="col-12 col-sm-12 col-md-4">
                        <h3 class="vargasdesignmx ttlefoot">&iexcl;S&iacute;guenos en Redes Sociales!</h3>
                        <span class="overf">
                          <ul>
                            <li class="float-left" style="margin:10px 10px 0;display:inline-block;"><a href="https://www.youtube.com/user/AhorraSeguros"><i class="fa fa-youtube-play fa-1x blue"></i></a></li>
                            <li class="float-left" style="margin:10px 10px 0;display:inline-block;"><a href="https://www.facebook.com/ahorraseguros"><i class="fa fa-facebook-f fa-1x blue"></i></a></li>
                            <li class="float-left" style="margin:10px 10px 0;display:inline-block;"><a href="https://www.instagram.com/Ahorra_Seguros"><i class="fa fa-instagram fa-1x"></i></a></li>
                            <li class="float-left" style="margin:10px 10px 0;display:inline-block;"><a href="https://twitter.com/AhorraSeguros"><i class="fa fa-twitter fa-1x blue"></i></a></li>
                            <li class="float-left" style="margin:10px 10px 0;display:inline-block;"><a href="https://mx.linkedin.com/company/ahorra-seguros"><i class="fa fa-linkedin fa-1x blue"></i></a>
                            </li>
                      </ul>
                      </span>
                    </div>
                     
                        
                        <div class="col-12 col-sm-12 col-md-4">
                    
                         <h3 class="vargasdesignmx ttlefoot">Descarga la app en :</h3>
                        <div class="row">
                            <a class="col" href="#">
                             <span><b class="blue">App Store</b></span>
                            </a>
                            <a class="col" href="#">
                             <span><b class="blue">Google Play</b></span>
                            </a>
                        </div>
                        </div>
        </div>
    </div>
  </div>
</section>

<section class="fondo">
    <div class="container-fluid heightfoot">
      <div class="container">
        <ul id="menu-menu-2018" class="row pacso">
            <li id="menu-item-14224" class="col-12 col-sm-12 col-md-4 lio">
                <a href="https://ahorraseguros.mx/" class="centeronlysm">
                    <img class="logo-newasmx-large" alt="logo" src="https://ahorraseguros.mx/wp-content/uploads/2017/11/Logotipo-Ahorra-Seguros-2015.png">
                </a>
            </li>
            <li id="menu-item-14224" class="col-12 col-sm-12 col-md-4 lio">
                 <a href="#" style="font-weight:bold;font-size:1em;position:relative;top:6px;">Cotizador de Seguros de Auto</a>
            </li>
            <li id="menu-item-14213" class="col-12 col-sm-12 col-md-4 lio">
                <a href="#" style="font-weight:bold;font-size:1em;position:relative;top:6px;">Comparador de Seguros de Auto</a>
            </li>
        </ul>
        <ul class="row pacso">
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros de autos</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros para Taxis</a>
            </li>
            <li id="menu-item-14225" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Aseguradoras</a>
            </li>
            <li id="menu-item-14213" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros de Hogar</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros de Vida</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Gastos Médicos</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros para Uber</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguros para Motos</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Comparador de Seguros</a>
            </li>
            <li id="menu-item-14224" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Seguro de Casa</a>
            </li>
            <li id="menu-item-14225" class="col-6 col-sm-6 col-md-3 lio pacdi2">
                <a href="#">Blog</a>
            </li>
        </ul>
    <br>
      </div>
    </div>
</section>
<section class="fondo m10">
  <!-- <div class="dividir-cosas"></div> -->
  <div class="container-fluid heightFoot bgGrayFoot copiando-a-rastreator">
    <div class="container">
      <div class="col-12">© 2017 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros <a href="/terminos-y-condiciones" class="">Términos y condiciones</a>, así como el <a href="/aviso-de-privacidad" class="">Aviso de privacidad</a>.</div>
    </div>
  </div>
</section>
</div>
</template>

  <style scoped>
    .blue{color:#014f98!important;}
    .fondo{background: #e9ebee;}
    .paddTitles{padding:0 0 25px;}
    .m10{margin: -10px 0;}
    /*.container{width:1170px;}
    .container {margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}*/
    .bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
    .img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
    .vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
    .ttlefoot{margin:20px auto 2rem;}
    .centeronlysm{text-align:left;}
    .height90{height:90px;}
    .padding40{padding: 0 6%;}
    /*INI Stars*/
    fieldset, label {margin: 0; padding: 0!important;}
    .rating {border:none!important;float:inherit!important;}
    .rating > .nocolor {color:#ddd!important;}
    .rating > .sicolor{color:#FFD700!important;}
    .txtColorGray2{color:#436998;}
    .starCalif{font-size:1.5rem;font-weight:bold;color:#5c5c5c!important;}
    .average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
    span.votes{font-size:0.5em;}
    .imggoogle{width:60px;height:auto;margin:0px auto 0;}
    .sizeW{font-size:20px;}
    .shadow-cards{box-shadow:4px 4px 17px rgba(228, 221, 221, 0.66);}
    .pCero{padding:0!important;}
    .logo-newasmx-large{width:50%;margin: 0 auto;display:inline-block;height: auto;}
    .bgGrayFoot{background:#f3f2f2;color:#656565;}
    .pacdi{padding:3em 2em;}
    li.lio {display:inline-flex;}
    li.lio a {margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    li.lio a:hover{margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    .pacdi2 {padding: 0.2em 2em;}
    .copiando-a-rastreator{background:#fff;box-shadow:0px -3px 10px #eae9e9;}
    @media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}}
    @media (min-width: 1600px) {.container{max-width:1480px;}}
  </style>
