<template>
  <div>

<section class="bggray">

    <div class="container">
        <div class="row">
           <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-2 mt-3 mb-0">
    <h1 class="colorAhorra text_index mb-0 text-center">Compara tu Seguros de Auto en 30 segundos</h1>
    <p class="h6 size13 text-center d-none d-sm-none d-md-block">Ingresa los datos de tu auto y encuentra el mejor precio comparando todas las aseguradoras en México</p>
</div>
  <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-2 d-md-block d-sm-none d-none">
                    <div class="card card_ben">
                        <div class="row">
                            <div class="container">
                                <div class="col-12">
                                <img src="img/gnp.png" class="img-fluid logohouse" alt="Seguro de Hogar">
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star-half-o fa-lg cYellow">&nbsp;</i>
                                    <span
                                        class="text-card colorAhorra"><strong>4.5</strong></span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Ahorra Tiempo</span></div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Compara varias aseguradoras</span></div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Paga a Meses</span></div>
                                <div class="col-12 text-center mt-2">
                                    <div class="sprite-card"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-9 mt-2">
                <autos-form :config="$store.state.config"></autos-form>
                </div>

            </div>
        </div>
    </section>
    
    <section class="spacesection mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 py-4 d-lg-none d-md-none d-sm-block">
                <div class="card card_ben">
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <img src="img/logotipos/hogar.png" class="img-fluid img_logo" alt="Seguro de Hogar">
                        </div>
                        <div class="col-4 col-sm-4 text-center">
                            <i class="fa fa-star fa-lg cYellow"></i> <p class="text-card colorAhorra">4.5/326 opiniones</p>
                        </div>     

                        <div class="col-4 col-sm-4 text-center">
                             <i class="fa fa-check-circle fa-lg Cblue"></i> <p class="text-card colorAhorra">Paga a Meses </p>   
                        </div>
                    
              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</section>
<div class="back1 mt-0 mb-0 d-none d-sm-none d-md-none d-lg-block"></div>

<div class="container-fluid">
             <div class="container">
                      <div class="row mt-3 mb-4">
  <div class="col-lg-12">
<ul class="slides">
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-aba"></div></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-afirme"></div></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-aig"></div></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-ana"></div></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-atlas"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-axa"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-banorte"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-aguila"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-general"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-sura"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-vexmas"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-gnp"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-hdi"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-inbursa"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-latino"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-mapfre"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-multiva"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-qualitas"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-zurich"></a></li>
    <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-miituo"></a></li>
</ul>
            </div>
        </div>
            </div>
</div>

<index-content/>
  </div>
</template>

<script>
  import indexContent from '~/components/content/indexContent.vue'
  import AutosForm from '~/components/forms/AutosForm.vue'
 

  export default {
    created: function () {
      this.$store.state.config.aseguradora = 'GNP';
      this.$store.state.config.cotizacion = true;
      this.$store.state.config.emision = true;
      this.$store.state.config.descuento = 0;
      this.$store.state.config.telefonoAS = '5547495116';
      this.$store.state.config.grupoCallback = 'VN GNP';
      this.$store.state.config.from = 'DOMINIO-GNP';
      this.$store.state.config.idPagina = 16;
      this.$store.state.config.idCampana = 2;
    },
    components: {
      indexContent,
      AutosForm
    },
     head() {
      return {
        title: 'GNP Seguros - GNP - Mejor Seguro de Auto GNP',
        meta: [
          {hid: 'GNP Seguros', name: 'keywords', content: 'GNP, GNP Seguros, Seguros GNP, seguros de autos GNP, GNP Seguros Autos, GNP Seguros México, Seguros GNP Autos, Cotiza Seguros de Autos GNP'},
          {hid: 'description', name: 'description', content: 'GNP Seguros: El Mejor Seguro de Auto te ofrece la mejor opción para contratar Seguros GNP. Cotiza fácil y rápido obteniendo las mejores coberturas y precios de Seguros de autos GNP'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://gnpsegurosautos.com/'}
        ],
      }
    }
  };
</script>
<style scoped>
.backf{padding: 5px;}
</style>



