<template>
    <div>

  <div class="container-fluid mb-2">
        <div class="container">
            <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 offset-lg-2 mt-3 mb-0">
    <h5 class="colorAhorra mb-3 text-center">{{$store.state.formData.nombre}} , encontramos los mejores precios para tu seguro de Casa!</h5>
</div>
            </div>
        </div>
    </div>

  <section class="bg-white prueba mb-4">
        <div class="container-fluid padd-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                 <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/ABA1.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/AXA.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                  <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/BANORTE.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking4.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">4.5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                   <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/GNP.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                 <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/MAPFRE.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking4.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">4.5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>          
                </div>

            </div>
        </div>
    </section>
</div>
</template>

<script>
  export default {
     head() {
      return {
        title: 'GNP Seguros - GNP - Mejor Seguro de Auto GNP',
        meta: [
          {hid: 'GNP Seguros', name: 'keywords', content: 'GNP, GNP Seguros, Seguros GNP, seguros de autos GNP, GNP Seguros Autos, GNP Seguros México, Seguros GNP Autos, Cotiza Seguros de Autos GNP'},
          {hid: 'description', name: 'description', content: 'GNP Seguros: El Mejor Seguro de Auto te ofrece la mejor opción para contratar Seguros GNP. Cotiza fácil y rápido obteniendo las mejores coberturas y precios de Seguros de autos GNP'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://gnpsegurosautos.com/thank-you'}
        ],
      }
    },
    created: function () {
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;
        if (this.$store.state.config.cotizacion) {
          this.$store.commit('cotizar');
        }
        else {
          this.$store.commit('saveData');
        }
        this.$store.state.formData.nombre = '';
      }
      else {
       // this.$router.replace({path: '/error/'});
      }
        this.$store.state.config.telefonoAS = '5547495116';
    }

  };
</script>
