<template>
  <div>
     <section class="mt-3">
<div class="container pCero">
            <div class="">
                <div class="card-body">
               
                    <h3 class="text-center card-title h2Colortitle title colorAhorra mb-5 mt-0">Beneficios exclusivos de tu seguro GNP</h3>
              
                                <div class="w-100"></div>
    <div class="row line-height-1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
            <img src="https://ahorraseguros.mx/landings/img/ads/icons-landings/icons-6y12.svg" alt="" class="img-fluid height90">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
            <img src="https://ahorraseguros.mx/landings/img/ads/icons-landings/icons-mejor.svg" alt="" class="img-fluid height90">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
            <img src="https://ahorraseguros.mx/landings/img/ads/icons-landings/icons-recibe.svg" alt="" class="img-fluid height90">
        </div>
    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

    <section>
     <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 align-items-center">
                        <h2 class="card-title h2Colortitle title colorAhorra">
                 Seguros de Auto en México
                </h2>
                        <p class="text-justify">
                           Hoy en día la cultura de protección a las viviendas en México no son algo tan desarrollado aún, y es que únicamente el 5% cuenta con un Seguro de Auto, lo cierto es que para muchas personas el asegurar su casa no es algo que les signifique mucho, sin embargo es un beneficio que te puede beneficiar en muchos aspectos y contra cualquier situación. 
                        </p>
                        <p class="text-justify">
                          Existen tres tipos de Seguros de Auto, los cuales son para propietarios o los que se encuentran en el proceso de adquirir una vivienda, así como la protección necesaria al momento de alquilar tu vivienda a otras personas. El último consta de una póliza que cuida de tu casa contra daños que sufran tus ventanas, así como la misma estructura.
                        </p>    
                        <p class="text-justify">
                           Lo cierto es que un Seguro de Auto es lo que te cuidará de todos los imprevistos que puedan ocurrir, además de brindarte el respaldo necesario contra cualquier problema. 
                        </p> 
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 align-middle align-self-center">
                        <img class="img-fluid img_responsive" src="img/carahorra.svg" alt="Seguros de Auto" />
                    </div>
                </div>
    </div>
</section>

    <div class="w-100 p-3"></div>
    <section class="mt-0">
    <div class="container">
                     <h3 class="card-title h2Colortitle title mt-2 colorAhorra">
                    ¿Necesitas un Seguro de Auto?
                </h3>
                <div class="row">   
                    <div class="col-12 col-sm-12 col-md-12">
                        <br>
                        <ul class="p-10">
                            <li style="list-style:none;"><strong>Terremotos o erupciones:</strong> Estas totalmente amparado contra todos los daños que provoque alguno de estos hechos.
</li>
                            <li style="list-style: none;"><strong>Daños inesperados:</strong> Todas las afectaciones que pueda sufrir la estructura de tu vivienda a causa de incendios o inundaciones.</li>
                            <li style="list-style: none;" ><strong>Robo o asalto:</strong> Todos tus muebles, utensilios, joyería y aparatos electrónicos estarán protegidos en caso de robo.</li>
                            <li style="list-style: none;"><strong>Responsabilidad civil:</strong> Este es uno de los más importantes respaldos que necesitas, ya que por daños que puedas provocar a terceros por actos no intencionales, como incendios, cristales rotos o daños a su estructura, con una póliza en Seguros de Auto estarás protegido contra todos los gastos.</li>
                            <li style="list-style: none;"><strong>Gastos extraordinarios:</strong> Si tu vivienda sufre daños que necesitan de remodelaciones, y por esto requieres de alquilar una casa, con este seguro recibirás la solvencia económica para el pago de renta.</li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
    </section>

       <div class="w-100 p-3"></div>
    
    <div class="container">
        
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Contratar un Seguro de Auto con Ahorra Seguros.mx es más barato de lo que imaginas.
                </h4>
                <div class="">
                <p>En Ahorra Seguros encontrarás comparativos de precios de Seguros de Auto de las mejores Aseguradoras en México. Nuestro asesor telefónico te brindará el apoyo en la toma de decisión para elegir el mejor seguro de vida con las coberturas que necesitas al mejor costo.</p>
                </div>
    </div>


       <div class="w-100 p-3"></div>
    
    <div class="container">
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Adquiere tu Seguro de Auto en Ahorra Seguros
                </h4>
                <div class="">
                <p>Porque tu tranquilidad y el bienestar de tu familia, son lo más importante, en Ahorra Seguros tenemos para ti la mejor protección, ya que te brindamos el Seguro de Auto ideal, con las mejores coberturas del mercado, contamos con las 20 más importantes aseguradoras en México, las cuales tienen lo que requieres para poder cuidar de tu patrimonio, y así tener la estabilidad que te mereces.</p>
                <p>Además en Ahorra Seguros te damos todas las facilidades necesarias para que puedas contratar cuanto antes tu póliza de Seguros de Auto. ¡No esperes más, cotiza y contrata en menos de 2 minutos!</p>
                </div>
            </div>
    
    <div class="w-100 p-3"></div>
  </div>
</template>
<style scoped>
  .body_color{background: #e9ebee;}
</style>