<template>
  <form id="formcotizar" method="POST" action="" @submit.prevent="validateBeforeSubmit('formcotizar')">
    <div class="row py-0 form-row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2 h45">
          <select name="marca" id="marca" v-model="$store.state.formData.marca" v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('marca') }"
                  class="form-control form-control-lg chevron fs14 h45 mb7"
                  aria-label="Marca del vehículo" @change="getModelos()">
            <option value="">Marca</option>
            <option v-for="marca in formData.marcas" v-bind:key="marca.text">{{ marca.text }}</option>
          </select>
        </div>
         <small class="text-danger" v-show="errors.has('marca')"><i class="text-danger fa fa-warning"></i> {{ errors.first('marca') }}
          </small>
      </div>
      <!-- modelo -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <select name="modelo" id="modelo" v-model="$store.state.formData.modelo" v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('modelo') }" class="form-control form-control-lg chevron fs14 mb7"
                  aria-label="Modelo del vehículo" @change="getDescripciones()">
            <option value="">Modelo</option>
            <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">{{ modelo.text }}</option>
          </select>
        </div>
         <small class="text-danger" v-show="errors.has('modelo')"><i class="text-danger fa fa-warning"></i> {{ errors.first('modelo') }}
          </small>
      </div>

    <!-- descripcion -->

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <select name="descripcion" id="descripcion" v-model="$store.state.formData.descripcion"
                  v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('descripcion') }"
                  class="form-control form-control-lg chevron fs14 mb7"
                  aria-label="Descripción del vehículo" @change="getSubDescripciones()">
            <option value="">Submarca</option>
            <option v-for="descripcion in formData.descripciones" v-bind:key="descripcion.text">
              {{descripcion.text}}
            </option>
          </select>
        </div>
        <small class="text-danger" v-show="errors.has('descripcion')"><i class="text-danger fa fa-warning"></i> {{ errors.first('descripcion') }}
          </small>
      </div>
 </div>

     
     <div class="row py-0 form-row">
       <!-- subDescripcion -->
      <div class="col-6">
        <div class="input-group input_group mb-2">
          <select name="subDescripcion" id="subDescripcion" v-model="$store.state.formData.subDescripcion"
                  v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('subDescripcion') }"
                  class="form-control form-control-lg chevron fs14 mb7"
                  aria-label="SubDescripción del vehículo" @change="getDetalles()">
            <option value="">Descripción</option>
            <option v-for="subdescripcion in formData.subDescripciones" v-bind:key="subdescripcion.text">{{
              subdescripcion.text }}
            </option>
          </select>
        </div>
        <small class="text-danger" v-show="errors.has('subDescripcion')"><i class="text-danger fa fa-warning"></i> {{ errors.first('subDescripcion') }}</small>
      </div>
    <!-- detalle -->
      <div class="col-6 col-md-6 col-6">
        <div class="input-group input_group mb-2">
          <select name="detalleid" id="detalleid"  v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('detalleid') }" class="form-control form-control-lg chevron fs14 mb7"
                  aria-label="Detalle del vehículo" @change="detalleSelected">
            <option value="">Detalle</option>
            <option v-for="detalle in formData.detalles" v-bind:key="detalle.text" :value="detalle.id">{{ detalle.text }}</option>
          </select>
        </div>
        <small class="text-danger" v-show="errors.has('detalleid')"><i class="text-danger fa fa-warning"></i> {{ errors.first('detalleid') }}</small>
      </div>
      </div>

     <div class="row py-0 form-row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <input name="nombre" id="nombre" v-model="$store.state.formData.nombre"
                 v-validate="{ required: true, alpha_spaces:true }"
                 class="form-control form-control-lg form-style txtColorGray2 mb7" aria-label="Nombre del cliente"
                 :class="{'input': true, 'is-invalid': errors.has('nombre') }" maxlength="25" type="text"
                 placeholder="Nombre(s)" @change="myFocus('apellidoPaterno')"/>
        </div>
         <small class="text-danger" v-show="errors.has('nombre')"><i class="text-danger fa fa-warning"></i> {{ errors.first('nombre') }}</small>
      </div>


      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <input name="apellidoPaterno" id="apellidoPaterno" v-model="$store.state.formData.apellidoPaterno"
                 v-validate="{ required: true, alpha_spaces:true }" class="form-control form-control-lg form-style txtColorGray2 mb7"
                 aria-label="Apellido paterno"
                 :class="{'input': true, 'is-invalid': errors.has('apellidoPaterno') }" maxlength="25"
                 type="text"
                 placeholder="Apellido paterno" @change="myFocus('apellidoMaterno')"/>
        </div>
         <small class="text-danger" v-show="errors.has('apellidoPaterno')"><i class="text-danger fa fa-warning"></i> {{ errors.first('apellidoPaterno') }}</small>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <input name="apellidoMaterno" id="apellidoMaterno" v-model="$store.state.formData.apellidoMaterno"
                 v-validate="{ required: true, alpha_spaces:true }" class="form-control form-control-lg form-style txtColorGray2 mb7"
                 aria-label="Apellido materno"
                 :class="{'input': true, 'is-invalid': errors.has('apellidoMaterno') }" maxlength="25"
                 type="text"
                 placeholder="Apellido materno" @change="myFocus('telefono')"/>
        </div>
         <small class="text-danger" v-show="errors.has('apellidoMaterno')"><i class="text-danger fa fa-warning"></i> {{ errors.first('apellidoMaterno') }}</small>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <input name="telefono" id="telefono" v-model="$store.state.formData.telefono"
                 v-validate="{ required: true, numeric:true, max:10, min:10}"
                 class="form-control form-control-lg form-style txtColorGray2 mb7"
                 aria-label="Teléfono" :class="{'input': true, 'is-invalid': errors.has('telefono') }"
                 type="number" placeholder="Teléfono" @change="myFocus('correo')"/>
        </div>
         <small class="text-danger" v-show="errors.has('telefono')"><i class="text-danger fa fa-warning"></i> {{ errors.first('telefono') }}</small>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <input name="correo" id="correo" v-model="$store.state.formData.correo" v-validate="'required|email'"
                 class="form-control form-control-lg form-style txtColorGray2 mb7"
                 aria-label="Correo electrónico" :class="{'input': true, 'is-invalid': errors.has('correo') }"
                 maxlength="100" type="email" placeholder="Correo electrónico" @change="myFocus('genero')"/>
        </div>
         <small class="text-danger" v-show="errors.has('correo')"><i class="text-danger fa fa-warning"></i> {{ errors.first('correo') }}</small>
      </div>

   
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="input-group input_group mb-2">
          <select name="genero" v-model="$store.state.formData.genero" class="form-control form-control-lg chevron fs14 mb7"
                  id="genero"
                  @change="myFocus('codigoPostal')">
            <option value="">Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>

          </select>
        </div>
         <small class="text-danger" v-show="errors.has('genero')"><i class="text-danger fa fa-warning"></i> {{ errors.first('genero') }}</small>
      </div>
    </div>

     <div class="row py-0 form-row">
      <div class="col-6">
        <div class="input-group input_group mb-2">
          <input name="codigoPostal" id="codigoPostal" v-model="$store.state.formData.codigoPostal"
                 v-validate="{ required: true, numeric:true, max:5, min:5 }"
                 class="form-control form-control-lg form-style txtColorGray2 mb7"
                 aria-label="Código postal"
                 :class="{'input': true, 'is-invalid': errors.has('codigoPostal') }"
                 maxlength="5" type="number" placeholder="Código postal" @change="myFocus('edad')"/>
        </div>
          <small class="text-danger" v-show="errors.has('codigoPostal')"><i class="text-danger fa fa-warning"></i> {{ errors.first('codigoPostal') }}</small>
      </div>

    <!-- edad -->
    
      <div class="col-6">
        <div class="input-group input_group mb-2">
          <select name="edad" id="edad" v-model="$store.state.formData.edad" v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('edad') }" class="form-control form-control-lg chevron fs14 mb7"
                  aria-label="Edad" @change="calculaFechaNacimiento">
            <option value="">Edad</option>
            <option v-for="edad in formData.edades" v-bind:key="edad.id"> {{ edad.text }}</option>
          </select>
        </div>
         <small class="text-danger" v-show="errors.has('edad')"><i class="text-danger fa fa-warning"></i> {{ errors.first('edad') }}</small>
      </div>
</div>


    <!-- submit -->
    <div class="row">
       <div class="col-12 text-center mt-0">
                                <div class="checkbox checkbox-primary custom-checkbox"><input id="checkbox2" type="checkbox" checked="" /><label class="size13" for="checkbox2">Acepto que he leído el &nbsp;<a class="aviso" href="/" data-toggle="modal" data-target="#myModal"><strong class="size13">aviso de privacidad.</strong></a>
                                 </label></div>
                            </div>
     <div class="col-12">
        <button id="btnCotizarAuto" type="submit" class="btn btn-block btn-success btnLlamaya">
          Cotiza gratis <i class="fa fa-chevron-right text-white"></i>
        </button>
      </div>
    </div>


  </form>
</template>
<script>
  import marcasService from '~/plugins/marcas'
  import modelosService from '~/plugins/modelos'
  import descripcionesService from '~/plugins/descripciones'
  import subdescripcionesService from '~/plugins/subdescripciones'
  import detallesService from '~/plugins/detalles'

  export default {
    props: {
      config: Object
    },
    data() {
      return {
        formData: {
          marcas: [],
          modelos: [],
          descripciones: [],
          subDescripciones: [],
          detalles: [],
          edades: [],

        }
      }
    },

    created: function () {
      this.formData.marcas.length = 0;
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      this.formData.edades.length = 0;
      this.$store.state.formData.aseguradora = this.config.aseguradora;
      this.getMarcas();
      this.getEdades();
    },
    methods: {
      getMarcas: function () {
        marcasService.search(this.$store.state.formData.aseguradora)
          .then(resp => {
            this.formData.marcas = JSON.parse(resp);
          });
      },
      getModelos: function () {
        document.getElementById('modelo').focus();
        this.$store.state.formData.modelo = "";
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.subDescripcion = "";
        this.$store.state.formData.detalle = "";
        this.formData.modelos.length = 0;
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
        modelosService.search(this.$store.state.formData.aseguradora, this.$store.state.formData.marca)
          .then(response => {
            this.formData.modelos = JSON.parse(response);
          });
      },
      getDescripciones: function () {
        document.getElementById('descripcion').focus();
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.subDescripcion = "";
        this.$store.state.formData.detalle = "";
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
        descripcionesService.search(this.$store.state.formData.aseguradora, this.$store.state.formData.marca, this.$store.state.formData.modelo)
          .then(response => {
            this.formData.descripciones = JSON.parse(response);
          });
      },
      getSubDescripciones: function () {
        document.getElementById('subDescripcion').focus();
        this.$store.state.formData.subDescripcion = "";
        this.$store.state.formData.detalle = "";
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
        subdescripcionesService.search(this.$store.state.formData.aseguradora, this.$store.state.formData.marca, this.$store.state.formData.modelo, this.$store.state.formData.descripcion)
          .then(
            response => {
              this.formData.subDescripciones = JSON.parse(response);
            });
      },
      getDetalles: function () {
        document.getElementById('detalleid').focus();
          this.$store.state.formData.detalle = "";
        this.formData.detalles.length = 0;
        detallesService.search(this.$store.state.formData.aseguradora, this.$store.state.formData.marca, this.$store.state.formData.modelo, this.$store.state.formData.descripcion, this.$store.state.formData.subDescripcion)
          .then(response => {
            this.formData.detalles = JSON.parse(response);
          });
      },
      getTipos: function () {

      },
      getEdades: function () {
        for (var i = 18; i < 100; i++) {
          this.formData.edades.push({
            id: i,
            text: i
          });
        }
      },
      detalleSelected(evt) {
        var index = evt.target.selectedIndex;
        this.$store.state.formData.detalleid = evt.target.options[index].value;
        this.$store.state.formData.detalle = evt.target.options[index].label;


          this.myFocus('nombre');

      },
      validateBeforeSubmit(scope) {
        //$nuxt._router.push({path: 'seguros-'+this.$store.state.formData.aseguradora.toLowerCase()+'/thank-you'})

          this.$validator.validateAll().then((result) => {

            document.getElementById("btnCotizarAuto").disabled = true;
            if (result) {
                document.getElementById("formcotizar").reset();
              $nuxt._router.push({path: '/thank-you/'})
              //$nuxt._router.push({path: 'thank-you'})


            } else {

                document.getElementById("btnCotizarAuto").disabled = false;
            }
            return;
          });
      },
      myFocus: function (id) {
        document.getElementById(id).focus();
      },
      calculaFechaNacimiento() {

        this.$store.state.formData.fechaNacimiento = ((new Date().getFullYear() - this.$store.state.formData.edad+"-01-01").toString()).toString("yyyy/MM/dd")

      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    },
    mounted() {
    }
  };
</script>
<style scoped>
.input_group{font-size: 14px;border: none;}
.mb7{margin-top: 5px;margin-bottom: -7px;}
</style>
